@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  margin-left: 30px;
}

body {
  background-color:whitesmoke;
  font-family: "Roboto Mono", sans-serif;
  text-decoration: white;
}

.nav-logo {
  height: 60px;
  width: 200px;
  flex-direction: column;
  margin-right: 970px;
  height: 80px;
  margin-top: 20px;
  border-radius: 20px;
}

.login-img-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



.restaurant-browse {
  text-transform: uppercase;
  text-align: center;
  margin: 50px;
  font-weight: 600;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 2.4rem;
  padding: 1rem 0;
  margin-bottom: 100px;
  

  border-bottom-width: 100x;
}



.image-container img {
  width: 8rem;
  border-radius: 5px;
  margin-bottom: 20px;
}
.food img {
  width: 10rem;
  aspect-ratio: 1;
  border-radius: 5px;
}


.quantity-price-container {
  display: flex;
  flex-direction: right;
  gap: 2rem;
  align-items: center;
}

.btn-quantity-add {
  background-color: rgb(0, 160, 130);
  color: #fff;
}

.btn-quantity-add:hover {
  background-color: #4caf4f;
}

.btn-quantity {
  /* border: 3px solidrgb(0, 160, 130); */
  border-radius: 5px;
  padding: 3px 8px;
  font-weight: 500;
}

.order-btn {
  background-color: rgb(0, 160, 130);
  color: #fff;
  border: none;
  padding: 8px;
  width: 10rem;
  border-radius: 5px;
  font-weight: 500;
}

.order-btn:hover {
  background-color: #edc84b;
  color: #2b2717;
}

.container {
  max-width: 1068px;
  margin: auto;
  display: grid;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}

.return-btn {
  background-color: rgb(0, 160, 130);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
}

.return-btn:hover {
  background-color: #edc84b;
  color: #2e2710;
  transform: scale(1.05);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

#cart-icon {
  position: relative;
  font-size: 1.8rem;
  cursor: pointer;
}


.number-of-orders {
  background-color: rgb(0, 160, 130);
  border-radius: 50px;
  font-weight: 600;
  padding: 8px;
  color: white;
}

.cart-icon-box {
  padding: 10px;
  height: 70px;
}

.cart {
  top: 10;
  right: 20px;
  width: 360px;
  min-height: 70vh;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
  transition: 0s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid;
}

.total-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.total-price {
  font-size: 1.075rem;
  margin: 1 rem 0 0 0.7rem;
}

.btn-buy {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: rgb(255, 194, 68);
  color: black;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  cursor: pointer;
}
#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.food-title {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.food-price {
  font-weight: 500;
}

.product-quantity {
  border: 1px solid;
  outline-color: brown;
  width: 1.8rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
}

.cart-remove {
  font-size: 24px;
  color: rgb(255, 0, 0);
  cursor: pointer;
  border: none;
}
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.678);
}

.popup-inner {
  background-color: rgba(117, 160, 173, 0.61);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.884);
  width: 40%;
}

.popup-inner h2 {
  margin-top: 0;
}

.popup-inner label {
  display: block;
  margin-bottom: 10px;
}

.popup-inner input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

.popup-inner button[type="submit"],
.popup-inner button[type="button"] {
  background-color: #4caf4f;
  color: rgba(255, 255, 255, 0.568);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn {
  background-color: #4caf4f;
  color: rgba(255, 255, 255, 0.568);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.popup-inner button[type="submit"]:hover,
.popup-inner button[type="button"]:hover {
  background-color: #45a049;
}

.popup-inner button[type="submit"] {
  margin-top: 20px;
}

.popup-inner button[type="button"] {
  margin-top: 20px;
  background-color: #f44336;
}

.popup-inner button[type="button"]:hover {
  background-color: #da190b;
}

.popup-inner button[type="submit"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}

.popup-inner button[type="button"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}

.login-container {
  /* background-color: #d5f6ef; */
  background-color: #ffffff;
  border-radius: 30px;
  padding: 50px;
  width: 600px;
  box-sizing: border-box;
}

.login-text {
  font-weight: 800;
  font-size: 2rem;
}

.login-container input {
  width: 400px;
  border-radius: 50px;
  font-weight: 700;
  outline: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.login-container button:hover {
  background-color: rgb(0, 160, 130);
  color: rgb(238, 255, 252);
}

.submit-btn {
  background-color: #ffcf30;

  font-weight: 800;
  border: none;
  padding: 15px 20px;
  text-align: center;
  margin-top: 20px;
  color: #3b382b;

  font-size: 1.5rem;

  cursor: pointer;
  border-radius: 50px;
}

.restaurant {
  background-color: #f7f2e9;
}

.menu {
  background-color: #f7f2e9;
}

.restaurant-content {
  border-radius: 20px;
}

.restaurant-content:hover {
  transform: scale(1.05);
}

.restaurant-image-container img {
  background-color: #fff;
  width: 18rem;
  height: 12rem;
  border-radius: 20px;

  
}


.restaurant-content h5 {
  margin: 20px auto;
  font-weight: 800;
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
}

.order-total {
  font-weight: 600;

  font-size: 2rem;
  margin-left: 30px;
}

.modal-title {
  font-weight: 600;
  font-size: 2rem;
}

.food-container:hover {
  transform: scale(1.05);
}
.search:hover{
  color: #4caf4f;
}
.search-box {
  padding: 35px;
  border-radius: 25px;
  padding-left: 300px;
  padding-right: 300px;
}

footer {
  background-color: #edc84b;
  height: 100px;
  text-align: center;
  
}